#titel {
            text-align: center;
            font-size: calc(8*1vh);
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            color: rgb(255, 255, 255);
}

body {
        background-color: rgb(17, 158, 71);
}



#nav {
        margin: auto;
        background-color: rgba(73, 73, 73, 0.815);
        padding: 3%;
        border-radius: 25px;
        
        
        
}

#a {
        padding-top: 4%;
        padding-bottom: 4%; 
        padding-left: 200px;
        padding-right: 200px;
        background-color: rgba(0,0,0,0.4);
        color: white;
        border-bottom-left-radius: 25px;
        border-top-left-radius: 25px;
        
}

#b {
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 200px;
    padding-right: 200px;
    background-color: rgba(0, 0, 0, 0.548);
    color: white;
    margin: -4px;
    
}

#c {
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 200px;
    padding-right: 200px;
    background-color: rgba(0,0,0,0.4);
    color: white;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    
    
    
    
}

#land { 
        color: rgb(0, 0, 0);
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 35px;
        text-align: center;  
}

#htmlcss {
            width: 25%;
            margin-left: 43%;   
            
            
}



